<h2 class="subtitle">Employee List</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="m-0">
                <th class="w-25">First Name</th>
                <th class="w-20">Last Name</th>
                <th class="w-25">E-mail</th>
                <th class="w-30 text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="m-0" *ngFor="let employee of employees">
                <td class="w-25">{{ employee.firstName }}</td>
                <td class="w-20">{{ employee.lastName }}</td>
                <td class="w-25">{{ employee.emailId }}</td>
                <td class="w-30 text-right">
                    <button (click)="updateEmployee(employee.id)" class="btn btn-sm btn-info">Update</button>
                    <button (click)="deleteEmployee(employee.id)" class="btn btn-sm btn-danger">Delete</button>
                    <button (click)="employeeDetails(employee.id)" class="btn btn-sm btn-primary">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>